.main {
  margin: 50px;
}

.place-form {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 90%;
  padding-bottom: 10px;
  .select-date {
    width: 200px;
    margin: 5px 10px;
    height: 38px;
    font-size: 16px;
    .MuiInput-formControl {
      height: 100%;
    }
    input {
      padding-left: 13px;
      padding-bottom: 2px;
      &::placeholder {
        color: hsl(0, 0%, 50%);
        opacity: 1;
      }
    }
  }
  .select-place {
    width: 200px;
    margin: 5px 10px;
    height: 80%;
    &>div {
      border: none;
      border-radius: 0;
      border-bottom: 1px solid rgba(0, 0, 0, 0.42);
    }
    &:focus {
      outline: none;
    }
    span {
      display: none;
    }
  }
  @media(max-width: 767px) {
    .search-button {
      font-size: 14px;
      padding-top: 4px;
      padding-bottom: 4px;
      margin-top: 10px;
    }
  }
}

.ways {
  display: flex;
  justify-content: stretch;
  flex-wrap: wrap;
  .query-header {
    font-size: 18px;
    text-align: center;
  }
  .query-body {
    text-align: center;
  }
}

.way {
  width: 50%;
  margin: 0 auto;
  padding: 10px;
  @media (max-width: 698px) {
    width: 100%;
  }
  .way-name {
    font-size: 22px;
  }
  .totalChoices {
    width: 70%;
    @media (max-width: 698px) {
      width: 100%;
    }
    margin: 10px auto 0;
    .choice {
      .accordion-button {
        padding: 8px 16px;
      }
      .time-required {
        margin-left: 10px;
      }
      .leave {
        margin-bottom: 0;
      }
      .v-line {
        background-color: #212529;
        width: 1px;
        height: 15px;
        margin-left: 21px;
      }
    }
  }
}
