.main {
  margin: 50px;
}

.place-form {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 90%;
  padding-bottom: 15px;
  .select-place {
    width: 40%;
    max-width: 300px;
    margin: 5px;
    height: 80%;
  }
  .search-button {
    margin-top: 10px;
  }
}

.ways {
  display: flex;
  justify-content: stretch;
  flex-wrap: wrap;
  .query-header {
    font-size: 18px;
    text-align: center;
  }
  .query-body {
    text-align: center;
  }
}

.way {
  width: 50%;
  margin: 0 auto;
  padding: 10px;
  @media (max-width: 698px) {
    width: 100%;
  }
  .way-name {
    font-size: 22px;
  }
  .totalChoices {
    width: 70%;
    @media (max-width: 698px) {
      width: 100%;
    }
    margin: 10px auto 0;
    .choice {
      .accordion-button {
        padding: 8px 16px;
      }
      .time-required {
        margin-left: 10px;
      }
    }
  }
}
